<section class="advantages-section">
    <div class="advantages-container container">
        <h2 class="visually-hidden">Advantages</h2>
        <ul class="advantages-page-list list">
            <li class="advantages-point-list advantages-point-list--current">
                <div class="advantages-icons-container">
                    <svg class="advantages-icon" width="64" height="64">
                        <use href="./icons/advantages.svg#icon-chocolate"></use>
                    </svg>
                </div>
                <div class="advantages-text-box">
                    <h3 class="advantages-sub-headline">Unsurpassed taste</h3>
                    <p class="advantages-paragraph">Crafted with the finest quality cocoa beans and a dedication to
                        perfection, each bite is a decadent experience that simply cannot be matched. Savor the richness
                        and complexity of our Unsurpassed Taste and discover a new level of chocolate bliss.</p>
                </div>
            </li>
            <li class="advantages-point-list advantages-point-list--current">
                <div class="advantages-icons-container">
                    <svg class="advantages-icon" width="64" height="64">
                        <use href="./icons/advantages.svg#icon-dolar"></use>
                    </svg>
                </div>
                <div class="advantages-text-box">
                    <h3 class="advantages-sub-headline">Affordable price</h3>
                    <p class="advantages-paragraph">Indulge in high-quality chocolate without breaking the bank with
                        Simply Chocolate's selection of affordable treats. Enjoy mouth-watering truffles and velvety
                        chocolate bars without sacrificing taste or quality. Browse our selection and indulge in
                        affordable luxury today.</p>
                </div>
            </li>
            <li class="advantages-point-list">
                <div class="advantages-icons-container">
                    <svg class="advantages-icon" width="64" height="64">
                        <use href="./icons/advantages.svg#icon-spoon"></use>
                    </svg>
                </div>
                <div class="advantages-text-box">
                    <h3 class="advantages-sub-headline">Own production</h3>
                    <p class="advantages-paragraph">We take pride in our own production process, ensuring that every
                        step is carefully crafted to perfection. From selecting the finest ingredients to handcrafting
                        each piece, our attention to detail is evident in every bite.</p>
                </div>
            </li>
        </ul>
    </div>
</section>