<footer class="footer">
  <div class="footer-container">
    <div class="footer-contacts">
      <h2 id="footer" class="footer-heading">
        Chocolate
        <span class="footer-heading-span"> a delicious cure for a bad day </span>
      </h2>
      <div class="footer-address-sm">
        <div class="footer-contact">
          <p class="footer-paragraph">Contact us</p>
          <address class="footer-address">
            <ul class="footer-list-address">
              <li class="footer-address-style">
                <a href="tel:+380684439426" class="footer-link-contacts">+380 (68) 443-94-26</a>
              </li>
              <li class="footer-address-style">
                <a href="mailto:simplychoc@gmail.com" class="footer-link-contacts"
                  >simplychoc@gmail.com</a
                >
              </li>
            </ul>
          </address>
        </div>
        <ul class="footer-sm-icons">
          <li class="footer-sm-list">
            <a
              class="footer-sm-link"
              href="https://www.instagram.com/"
              target="_blank"
              rel="noreferrer noopener"
            >
              <svg class="footer-sm-icon" width="24" height="24">
                <use href="./icons/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="footer-sm-list">
            <a
              class="footer-sm-link"
              href="https://twitter.com/"
              target="_blank"
              rel="noreferrer noopener"
            >
              <svg class="footer-sm-icon" width="24" height="24">
                <use href="./icons/icons.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <hr />
    <ul class="footer-menu-list footer-list-calc">
      <li>
        <a href="#home" class="footer-menu-link list">Home</a>
      </li>
      <li>
        <a href="#how-made" class="footer-menu-link list">How it's made?</a>
      </li>
      <li>
        <a href="#our-products" class="footer-menu-link list">Our products</a>
      </li>
      <li>
        <a href="#top-sellers" class="footer-menu-link list">Top sellers</a>
      </li>
      <li>
        <a href="#reviews" class="footer-menu-link list">Chocolate is loved</a>

      </li>
    </ul>
  </div>
</footer>
