 <header class="header">
      <div class="header-container">
        <nav class="header-navigation">
          <div class="header-logo">
            <a href="./index.html" class="header-logo-link">
              SIMPLY <span class="header-logo-choco"> CHOCOLATE</span></a
            >
            <svg class="header-icon-choco" width="21" height="21">
              <use href="./icons/icons.svg#chocolate-logo"></use>
            </svg>
            <svg class="header-icon-choco-big" width="24" height="24">
              <use href="./icons/icons.svg#chocolate-logo"></use>
            </svg>
            </a>
          </div>

          <button
            class="menu-toggle js-open-menu"
            aria-expanded="false"
            aria-controls="mobile-menu"
          >
            <svg class="header-hamburger" width="28" height="28">
              <use href="./icons/icons.svg#icon-hamburger"></use>
            </svg>
          </button>

          <ul class="header-menu-list">
            <li>
              <a href="#home" class="header-menu-link">Home</a>
            </li>
            <li>
              <a href="#how-its-made" class="header-menu-link">How it's made?</a>
            </li>
            <li>
              <a href="#our-products" class="header-menu-link">Our products</a>
            </li>
            <li>
              <a href="#top-sellers" class="header-menu-link">Top sellers</a>
            </li>
            <li>
              <a href="#reviews" class="header-menu-link"
                >Chocolate is loved</a
              >
            </li>
          </ul>
        </nav>

        <ul class="header-sm-icons">
          <li class="header-sm-list">
            <a
              class="header-sm-link"
              href="https://www.instagram.com/"
              target="_blank"
              rel="noreferrer noopener"
            >
              <svg class="header-sm-icon" width="24" height="24">
                <use href="./icons/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="header-sm-list">
            <a
              class="header-sm-link"
              href="https://twitter.com/"
              target="_blank"
              rel="noreferrer noopener"
            >
              <svg class="header-sm-icon" width="24" height="24">
                <use href="./icons/icons.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
  </header>
     <div class="menu-container js-menu-container" id="mobile-menu">
      <div>
        <button class="close-menu menu-toggle js-close-menu" type="button">
          <svg class="close-icon" width="28" height="28">
            <use href="./icons/icons.svg#icon-close-button" />
          </svg>
        </button>

        <nav class="header-mobile-navigation">
          <ul class="list header-mobile-nav-list">
            <li class="header-nav-li-mobile">
              <a class="header-nav-link-menu header-link-underline" href="#home">Home</a>
            </li>
            <li class="header-nav-li-mobile">
              <a class="header-nav-link-menu header-link-underline" href="#how-its-made"
                >How it's made?</a
              >
            </li>
            <li class="header-nav-li-mobile">
              <a class="header-nav-link-menu header-link-underline" href="#our-products">Our products</a>
            </li>
            <li class="header-nav-li-mobile">
              <a class="header-nav-link-menu header-link-underline" href="#top-sellers">Top sellers</a>
            </li>
            <li class="header-nav-li-mobile">
              <a class="header-nav-link-menu header-link-underline" href="#reviews">Chocolate is loved</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="header-sm-mobile">
          <ul class=" header-mobile-sm-list ">
          <li class=" header-mobile-icon">
            <a href="https://www.instagram.com/"
              target="_blank"
              rel="noreferrer noopener" class="header-sm-mobile-link ">
              <svg class="header-mobile-icon" width="22" height="22">
                <use href="./icons/icons.svg#icon-instagram" />
              </svg>
            </a>
          </li>
          <li class=" header-mobile-icon">
            <a href="https://twitter.com/"
              target="_blank"
              rel="noreferrer noopener" class="header-sm-mobile-link ">
              <svg class="header-mobile-icon" width="22" height="22">
                <use href="./icons/icons.svg#icon-twitter" />
              </svg>
            </a>
          </li>
          
        </ul>
      </div>
    </div>