<header class="header-page">
    <div>
        <a href="./index.html" class="header-navigation-logo link"><span class="header-logo-span">SIMPLY</span>
            CHOCOLATE</a>
    </div>
    <div>
        <nav>
            <ul class="header-navigation-page list">
                <li class="header-navigation-anchor"><a href="#home" class="header-navigation-page-link link">Home</a>
                </li>
                <li class="header-navigation-anchor"><a href="#how-made" class="header-navigation-page-link link">How
                        it's made?</a></li>
                <li class="header-navigation-anchor"><a href="#our-products"
                        class="header-navigation-page-link link">Our products</a></li>
                <li class="header-navigation-anchor"><a href="#top-sellers" class="header-navigation-page-link link">Top
                        sellers</a></li>
                <li class="header-navigation-anchor"><a href="#chocolate-loved"
                        class="header-navigation-page-link link">Chocolate is loved</a></li>
            </ul>
        </nav>
    </div>
    <div class="header-socials-media">
        <ul class="header-list-socials-media">
            <li class="header-social-media"><a class="socials-link header-socials-link" href="#" target="_blank"
                    rel="noreferrer noopener">
                    <svg width="24" height="24" class="header-socials-icon-box">
                        <use href="./icons/icons.svg#icon-instagram"></use>
                    </svg></a>
            </li>
            <li class="header-social-media">
                <a class="socials-link header-socials-link" href="#" target="_blank" rel="noreferrer noopener">
                    <svg width="24" height="24" class="header-socials-icon-box">
                        <use href="./icons/icons.svg#icon-twitter"></use>
                    </svg></a>
            </li>
        </ul>
    </div>
    <div class="header-menu-button-container">
        <button aria-expanded="false" aria-controls="mobile-menu" class="header-mobile-button-menu-ham js-open-menu">
            <svg width="28" height="28" class="header-button-ham-menu-icon">
                <use href="./icons/icons.svg#icon-hamburger"></use>
            </svg>
        </button>
    </div>    
</header>