<section class="hero-section background-image-section">
    <div class="hero-container">
        <h1 id="home" class="visually-hidden">hero</h1>
        <h2 class="hero-sub-headline">Treat yourself or a loved one to our finest ingredients for a moment of pure
            delight!</h2>
        <div class="hero-modal-and-link-button">
            <div class="hero-modal-button-first-line">
                <button data-modal-buy-open type="button" class="hero-buy-now-button">Buy now</button>
                <button class="hero-how-it-is-made-button"><a href="#how-made" class="hero-link-made-button link">How
                        it's made</a></button>
            </div>

            <div class="hero-scroll-button-box">
                <a href="#footer" class="hero-link-scroll link">scroll down</a>
                <button class="hero-scroll-down-button">
                    <svg width="16" height="16" class="hero-button-scroll-icon">
                        <use href="./icons/downbutton.svg#icon-down-button"></use>
                    </svg>
                </button>
            </div>
        </div>
</section>