<section id="our-products" class="product">
  <div class="product-container">
    <h2 class="product-title">OUR <span class="product-title-text">PRODUCTS</span></h2>
      <div class="swiper-wrapper">
        <ul class="list swiper-slide">
          <li class="product-card">
            <div class="product-card-box">
            <img class="product-images" srcset="./images/our-products/chocolate-orange-230x201.jpg 1x,
              ./images/our-products/chocolate-orange-460-402@2x.jpg 2x"
              src="./images/our-products/chocolate-orange-230x201.jpg" alt="orange dark chocolate" 
              width="230" height="201"/>
            <div class="product-info">
              <div class="product-info-text">
                <h3 class="product-name">orange</h3>
                <p class="product-description">Dark chocolate</p>
              </div>
              <button class="product-price">45 UAH</button>
          </div>
          </div>
        </li>
          <li class="product-card">
            <div class="product-card-box">
            <img class="product-images" srcset="./images/our-products/chocolate-apple-230x201.jpg 1x,
              ./images/our-products/chocolate-apple-460-402@2x.jpg 2x"
              src="./images/our-products/chocolate-apple-230x201.jpg" alt="APPLE&CRANBERRY milk chocolate" 
              width="230" height="201"/>
            <div class="product-info">
              <div class="product-info-text">
                <h3 class="product-name">APPLE&CRANBERRY</h3>
                <p class="product-description">Milk chocolate</p>
              </div>
              <button class="product-price">50 UAH</button>
            </div>
          </div>
        </li>
          <li class="product-card">
            <div class="product-card-box">
            <img class="product-images" srcset="./images/our-products/chocolate-lime-230x201.jpg 1x,
              ./images/our-products/chocolate-lime-460-402@2x.jpg 2x"
              src="./images/our-products/chocolate-lime-230x201.jpg" alt="limesea dark chocolate" 
              width="230" height="201"/>
            <div class="product-info">
              <div class="product-info-text">
                <h3 class="product-name">lime&sea salt</h3>
                <p class="product-description">Dark chocolate</p>
              </div>
              <button class="product-price">66 UAH</button>
            </div>
          </div>
        </li>
          <li class="product-card">
            <div class="product-card-box">
            <img class="product-images" srcset="./images/our-products/chocolate-pineapple-230x201.jpg 1x,
                  ./images/our-products/chocolate-pineapple-406-402@2x.jpg 2x"
                  src="./images/our-products/chocolate-pineapple-230x201.jpg" alt="pineapple dark chocolate" 
                  width="230" height="201"/>
            <div class="product-info">
              <div class="product-info-text">
                <h3 class="product-name">pineapple</h3>
                <p class="product-description">Dark chocolate</p>
              </div>
              <button class="product-price">54 UAH</button>
            </div>
          </div>
        </li>
          <li class="product-card">
            <div class="product-card-box">
            <img class="product-images" srcset="./images/our-products/chocolate-classic-230x201.jpg 1x,
              ./images/our-products/chocolate-classic-460x402@2x.jpg 2x"
              src="./images/our-products/chocolate-classic-230x201.jpg" alt="classic milk chocolate" 
              width="230" height="201"/>
            <div class="product-info">
              <div class="product-info-text">
                <h3 class="product-name">Classic</h3>
                <p class="product-description">Milk chocolate</p>
              </div>
              <button class="product-price">45 UAH</button>
            </div>
          </div>
        </li>
          <li class="product-card">
            <div class="product-card-box">
            <img class="product-images" srcset="./images/our-products/chocolate-honey-230x201.jpg 1x,
              ./images/our-products/chocolate-honey-460x402@2x.jpg 2x"
              src="./images/our-products/chocolate-honey-230x201.jpg" alt="honey milk chocolate" 
              width="230" height="201"/>
            <div class="product-info">
              <div class="product-info-text">
                <h3 class="product-name">honey</h3>
                <p class="product-description">Milk chocolate</p>
              </div>
              <button class="product-price">50 UAH</button>
            </div>
          </div>
        </li>
          <li class="product-card">
            <div class="product-card-box">
            <img class="product-images" srcset="./images/our-products/chocolate-fruits-230x201.jpg 1x,
              ./images/our-products/chocolate-fruits-460-402@2x.jpg 2x"
              src="./images/our-products/chocolate-fruits-230x201.jpg" alt="roasted fruits dark chocolate" 
              width="230" height="201"/>
            <div class="product-info">
              <div class="product-info-text">
                <h3 class="product-name">Roasted fruits</h3>
                <p class="product-description">Dark chocolate</p>
              </div>
              <button class="product-price">66 UAH</button>
            </div>
          </div>
        </li>
          <li class="product-card">
            <div class="product-card-box">
            <img class="product-images" srcset="./images/our-products/chocolate-white-230x201.jpg 1x,
              ./images/our-products/chocolate-white-460x402@2x.jpg 2x"
              src="./images/our-products/chocolate-white-230x201.jpg" alt="classic White chocolate" 
              width="230" height="201"/>
            <div class="product-info">
              <div class="product-info-text">
                <h3 class="product-name">Classic</h3>
                <p class="product-description">White chocolate</p>
              </div>
              <button class="product-price">54 UAH</button>
            </div>
          </div>
        </li>
        </ul>
      </div>
    <div class="sliders-div">
      <ul class="our-products-svg-list list">
        <li>
          <svg width="28" height="13">
            <use href="./icons/reviews-icons.svg#icon-Rectanglereview"></use>
          </svg>
        </li>
        <li>
          <svg width="13" height="13">
            <use href="./icons/reviews-icons.svg#icon-reviewellipse"></use>
          </svg>
        </li>
        <li>
          <svg width="13" height="13">
            <use href="./icons/reviews-icons.svg#icon-reviewellipse"></use>
          </svg>
        </li>
        <li>
          <svg width="13" height="13">
            <use href="./icons/reviews-icons.svg#icon-reviewellipse"></use>
          </svg>
        </li>
        <li>
          <svg width="13" height="13">
            <use href="./icons/reviews-icons.svg#icon-reviewellipse"></use>
          </svg>
        </li>
        <li>
          <svg width="13" height="13">
            <use href="./icons/reviews-icons.svg#icon-reviewellipse"></use>
          </svg>
        </li>
        <li>
          <svg width="13" height="13">
            <use href="./icons/reviews-icons.svg#icon-reviewellipse"></use>
          </svg>
        </li>
        <li>
          <svg width="13" height="13">
            <use href="./icons/reviews-icons.svg#icon-reviewellipse"></use>
          </svg>
        </li>
      </ul>
    </div>
  </div>
</section>
