<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reviews</title>
    <link rel="stylesheet" href="./src/css/reviews.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/2.0.0/modern-normalize.min.css"
        integrity="sha512-4xo8blKMVCiXpTaLzQSLSw3KFOVPWhm/TRtuPVc4WG6kUgjH6J03IBuG7JZPkcWMxJ5huwaBpOpnwYElP/m6wg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Croissant+One&family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;1,700&display=swap"
        rel="stylesheet" />
</head>

<body>
    <section class="reviews">
        <h1 class="reviews-heading"> <span class="heading-span">CHOCOLATE</span> IS LOVED</h1>
        <div class="main-reviews-div">
            <div class="reviews-div-child">
                <img class="reviews-image" width="80px" height="80px" src="src/images/reviews/victoria-dobrzhanska-80x80.jpg" srcset="src/images/reviews/victoria-dobrzhanska-160x160@2x.jpg"
                    alt="A woman with brown hair">
                <h2 class="reviews-name">Victoria Dobrzhanska</h2>
                <p class="reviews-paragraph">
                    I love this chocolate bar.
                    Perfect combination of light crispy wafer,
                    covered in a thin layer chocolate.
                </p>
            </div>
            <div class="reviews-div-child tablet-hide">
                <img class="reviews-image" src="src/images/reviews/nazar-babenko-80x80.jpg" srcset="src/images/reviews/nazar-babenko-160x160@2x.jpg" alt="A man with freckles">
                <h2 class="reviews-name">Nazar Babenko</h2>
                <p class="reviews-paragraph">
                    This chocolate confection is a delight!
                    A delight! The wafer is light and crisp,
                    the hazelnut cream is smooth, and the
                    chocolate is good.
                </p>
            </div>
            <div class="reviews-div-child desktop-hide">
                <img class="reviews-image" src="src/images/reviews/olena-kampusch-80x80.jpg" srcset="src/images/reviews/olena-kampusch-160x160@2x.jpg" alt="A woman wearing shirt with stripes">
                <h2 class="reviews-name">Olena Kampusch</h2>
                <p class="reviews-paragraph">
                    Chocolate is a family favourite treat.
                    Love the delicious smooth chocolate and the
                    creaminess inside. The wafer is soft
                    but crunchy.</p>
            </div>

        </div>
        <div class="sliders-div">
            <ul class="review-svg-list">
                <li>
                    <svg width="28" height="13">
                        <use href="src/icons/reviews-icons.svg#icon-Rectanglereview"></use>
                    </svg>
                </li>
                <li>
                    <svg width="13" height="13">
                        <use href="src/icons/reviews-icons.svg#icon-reviewellipse"></use>
                    </svg>
                </li>
                <li>
                    <svg width="13" height="13">
                        <use href="src/icons/reviews-icons.svg#icon-reviewellipse"></use>
                    </svg>
                </li>
                <li>
                    <svg width="13" height="13">
                        <use href="src/icons/reviews-icons.svg#icon-reviewellipse"></use>
                    </svg>
                </li>
            </ul>
        </div>
        <button data-modal-open class="review-button" type="button">Leave a review</button>
    </section>
    <div class="backdrop is-hidden" data-modal>
        <div class="modal">
            <button type="button" class="close-button" data-modal-close>
                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28">
                    <path d="M21 7L7 21" stroke="#111111" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                    <path d="M7 7L21 21" stroke="#111111" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                </svg>
            </button>
            <p class="backdrop-header">LEAVE A REVIEW ABOUT <span class="heading-span">OUR CHOCOLATE</span></p>
            <form class="modal-contacts" name="modal-contacts">
                <div class="modal-div">
                    <label class="modal-label" for="user-name">Name</label>
                    <div class="modal-icon-box">
                        <input class="modal-input" id="user-name" type="text" name="user-name" required>
                    </div>
                </div>
                <div class="modal-div">
                    <label class="modal-label" for="your-email">Email</label>
                    <div class="modal-icon-box">
                        <input class="modal-input" id="your-email" type="email" name="your-email" required>
                    </div>
                </div>
                <div class="modal-div">
                    <label class="modal-label" for="phone">Phone number</label>
                    <div class="modal-icon-box">
                        <input class="modal-input" id="phone" type="tel" name="phone" required>
                    </div>
                </div>
                <div class="modal-div">
                    <label class="modal-label" for="user-comment"></label>
                    <textarea class="modal-input textarea" name="user-comment" id="user-comment" rows="15"
                        placeholder="Enter text"></textarea>
                </div>

                <button class="send-button" type="submit">Send</button>

            </form>
        </div>
    </div>
    <script src="./src/modal.js"></script>
</body>

</html>