    <section class="reviews">
        <h1 class="reviews-heading"> <span class="heading-span">CHOCOLATE</span> IS LOVED</h1>
        <div id="reviews" class="main-reviews-div">
            <div class="reviews-div-child">
                <img class="reviews-image" width="80px" height="80px" src="./images/reviews/victoria-dobrzhanska-80x80.jpg"
                    srcset="./images/reviews/victoria-dobrzhanska-160x160@2x.jpg"
                    alt="A woman with brown hair">
                <h2 class="reviews-name">Victoria Dobrzhanska</h2>
                <p class="reviews-paragraph">
                    I love this chocolate bar.
                    Perfect combination of light crispy wafer,
                    covered in a thin layer chocolate.
                </p>
            </div>
            <div class="reviews-div-child tablet-hide">
                <img class="reviews-image" src="./images/reviews/nazar-babenko-80x80.jpg"
                    srcset="./images/reviews/nazar-babenko-160x160@2x.jpg" alt="A man with freckles">
                <h2 class="reviews-name">Nazar Babenko</h2>
                <p class="reviews-paragraph">
                    This chocolate confection is a delight!
                    A delight! The wafer is light and crisp,
                    the hazelnut cream is smooth, and the
                    chocolate is good.
                </p>
            </div>
            <div class="reviews-div-child desktop-hide">
                <img class="reviews-image" src="./images/reviews/olena-kampusch-80x80.jpg"
                    srcset="./images/reviews/olena-kampusch-160x160@2x.jpg" alt="A woman wearing shirt with stripes">
                <h2 class="reviews-name">Olena Kampusch</h2>
                <p class="reviews-paragraph">
                    Chocolate is a family favourite treat.
                    Love the delicious smooth chocolate and the
                    creaminess inside. The wafer is soft
                    but crunchy.</p>
            </div>

        </div>
        <div class="sliders-div">
            <ul class="review-svg-list">
                <li>
                    <svg width="28" height="13">
                        <use href="./icons/reviews-icons.svg#icon-Rectanglereview"></use>
                    </svg>
                </li>
                <li>
                    <svg width="13" height="13">
                        <use href="./icons/reviews-icons.svg#icon-reviewellipse"></use>
                    </svg>
                </li>
                <li>
                    <svg width="13" height="13">
                        <use href="./icons/reviews-icons.svg#icon-reviewellipse"></use>
                    </svg>
                </li>
                <li>
                    <svg width="13" height="13">
                        <use href="./icons/reviews-icons.svg#icon-reviewellipse"></use>
                    </svg>
                </li>
            </ul>
        </div>
        <button data-modal-reviews-open class="review-button" type="button">Leave a review</button>
    </section>
    <div class="backdrop is-hidden" data-modal-reviews>
        <div class="modal">
            <button type="button" class="close-button" data-modal-reviews-close>
                <svg class="close-svg" width="28" height="28">
                    <use href="./icons/reviews-icons.svg#icon-close"></use></svg>

                <!--<svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28">
                    <path d="M21 7L7 21" stroke="#111111" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                    <path d="M7 7L21 21" stroke="#111111" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                </svg>-->
            </button>
            <p class="backdrop-header">LEAVE A REVIEW ABOUT <span class="heading-span">OUR CHOCOLATE</span></p>
            <form class="modal-contacts" name="modal-contacts">
                <div class="modal-div">
                    <!--<label class="modal-label" for="user-name">Name</label>-->
                    <div class="modal-icon-box">
                        <input class="modal-input" id="user-name" type="text" name="user-name" required placeholder="Name">
                    </div>
                </div>
                <div class="modal-div">
                    <!--<label class="modal-label" for="your-email">Email</label>
 -->                   <div class="modal-icon-box">
                        <input class="modal-input" id="your-email" type="email" name="your-email" required placeholder="Email">
                    </div>
                </div>
                <div class="modal-div">
                    <!--<label class="modal-label" for="phone">Phone number</label>-->
                    <div class="modal-icon-box">
                        <!--<input class="modal-input" id="phone" type="tel" name="phone" required>-->
                        <label class="modal-label-phone" for="phone">+380</label>
                        <input class="modal-input-phone" id="phone" type="tel" name="phone" required placeholder="Phone number">
                        <svg class="modal-svg" width="32" height="24">
                            <use href="./icons/reviews-icons.svg#icon-Ukraine"></use>
                        </svg>
                    </div>
                </div>
                <div class="modal-div">
                    <label class="modal-label" for="user-comment"></label>
                    <textarea class="modal-input textarea" name="user-comment" id="user-comment" rows="15"
                        placeholder="Enter text"></textarea>
                </div>

                <button class="send-button" type="submit">Send</button>

            </form>
        </div>