<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <section class="subscribe-section-mobile">
      <div class="container">
        <h2 class="subscribe-header-mobile">EXPLORE OUR NEW CHOCOLATE FIRST</h2>
        <p class="subscribe-paragraph-mobile">
          From the velvety texture to the rich and complex flavor, our New Chocolate is a true
          indulgence that will leave you craving more. Made with only the finest ingredients and
          handcrafted with the utmost care, each piece is a work of art that is sure to please.
        </p>
        <button class="subscribe-button" type="button" data-modal-open>Subscribe</button>
      </div>
    </section>
    <div data-modal class="subscribe-modal-window is-hidden">
      <div class="subscribe-modal-body">
        <button class="subscribe-close-button" type="button" data-modal-close>X</button>
        <h2 class="subscribe-modal-header">Explore our 
          new chocolate first!</h2>
      </div>
    </div>
    <script src="./js/modal.js"></script>
  </body>
</html>
