<section class="container unique-components">
  <div class="components-flex-box">
    <h2 class="components-secondary-title">
      IT ALL ADDS UP TO ONE EXCEPTIONAL
      <span class="highlight">TASTE</span> SENSATION
    </h2>
    <p class="components-paragraph">
      At Simply Chocolate, we believe that the secret to exceptional chocolate is in the details.
      From the sourcing of the finest ingredients to the careful crafting of each individual piece,
      every step of our process adds up to one exceptional taste sensation.
    </p>
  </div>
  <ul class="unique-components-list">
    <!-- ------- Chocolate ------- -->
    <li class="unique-components-item">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front" style="background: #fd9222">
            <img
              class="img-mobile"
              srcset="
                ./images/unique-components/chocolate-224x171-mobile.png    224w,
                ./images/unique-components/chocolate-448x342-mobile@2x.png 448w
              "
              sizes="(min-width: 320px) 320px"
              src="./images/unique-components/chocolate-224x171-mobile.png"
              alt="couple pieces of brown chocolate"
              width="224"
              height="171"
            />
            <img
              class="img-desktop"
              srcset="

                ./images/unique-components/chocolate-206x160-desktop.png    206w,
                ./images/unique-components/chocolate-412x320-desktop@2x.png 412w
              "
              sizes="(min-width: 1200px) 1200px"
              src="./images/unique-components/chocolate-224x171-mobile.png"
              alt="couple pieces of brown chocolate"
              width="206"
              height="160"
            />
            <p class="component-name" style="color: #fff">MILK CHOCOLATE</p>
          </div>
          <div class="flip-card-back">
            <h3 class="overlay-name">Milk chocolate</h3>
            <ul class="overlay-tags">
              <li class="overlay-tag-container" style="background: #fd9222">
                <p class="overlay-tag" style="color: #fff">chocolate</p>
              </li>
              <li class="overlay-tag-container">
                <p class="overlay-tag">the benefits</p>
              </li>
            </ul>
            <p class="overlay-paragraph">
              Milk chocolate is a solid chocolate confectionery containing cocoa, sugar and milk. It
              is the most consumed type of chocolate. Chocolate was originally sold and consumed as
              a beverage in pre-Columbian times. Although four-fifths of all milk chocolate is sold
              in the United States and Europe.
            </p>
          </div>
        </div>
      </div>
    </li>
    <!-- --------- Milk --------- -->
    <li class="unique-components-item">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img
              class="img-mobile"
              srcset="

                ./images/unique-components/milk-224x171-mobile.png    224w,
                ./images/unique-components/milk-448x342-mobile@2x.png 448w
              "
              sizes="(min-width: 320px) 320px"
              src="./images/unique-components/milk-224x171-mobile.png"
              alt="bootle of milk"
              width="224"
              height="171"
            />
            <img
              class="img-desktop"
              srcset="
                ./images/unique-components/milk-206x160-desktop.png    206w,
                ./images/unique-components/milk-412x320-desktop@2x.png 412w
              "
              sizes="(min-width: 1200px) 1200px"
              src="./images/unique-components/milk-224x171-mobile.png"
              alt="bootle of milk"
              width="206"
              height="160"
            />
            <p class="component-name">MILK</p>
          </div>
          <div class="flip-card-back">
            <h3 class="overlay-name">Milk</h3>
            <ul class="overlay-tags">
              <li class="overlay-tag-container" style="background: #fd9222">
                <p class="overlay-tag" style="color: #fff">milk</p>
              </li>
              <li class="overlay-tag-container">
                <p class="overlay-tag">the benefits</p>
              </li>
            </ul>
            <p class="overlay-paragraph">
              Milk is a white liquid food produced by the mammary glands of mammals. It is the
              primary source of nutrition for young mammals (including breastfed human infants)
              before they are able to digest solid food. Early-lactation milk, which is called
              colostrum, contains antibodies that strengthen the immune system.
            </p>
          </div>
        </div>
      </div>
    </li>
    <!-- --------- Nuts --------- -->
    <li class="unique-components-item">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front" style="background: #1e1823; border: #1e1823">
            <img
              class="img-mobile"
              srcset="
                ./images/unique-components/hazelnuts-224x171-mobile.png    224w,
                ./images/unique-components/hazelnuts-448x342-mobile@2x.png 448w
              "
              sizes="(min-width: 320px) 320px"
              src="./images/unique-components/hazelnuts-224x171-mobile.png"
              alt="a couple of hazelnuts"
              width="224"
              height="171"
            />
            <img
              class="img-desktop"
              srcset="
                ./images/unique-components/hazelnuts-206x160-desktop.png    206w,
                ./images/unique-components/hazelnuts-412x320-desktop@2x.png 412w
              "
              sizes="(min-width: 1200px) 1200px"
              src="./images/unique-components/hazelnuts-224x171-mobile.png"
              alt="a couple of hazelnuts"
              width="206"
              height="160"
            />
            <p class="component-name" style="color: #fff">NUTS</p>
          </div>
          <div class="flip-card-back">
            <h3 class="overlay-name">Nuts</h3>
            <ul class="overlay-tags">
              <li class="overlay-tag-container" style="background: #fd9222">
                <p class="overlay-tag" style="color: #fff">nuts</p>
              </li>
              <li class="overlay-tag-container">
                <p class="overlay-tag">the benefits</p>
              </li>
            </ul>
            <p class="overlay-paragraph">
              Almonds, pistachios, and walnuts are some types of nuts that contain healthy
              nutrients. When eaten as part of a nutrient-dense diet, these 9 nuts may offer
              benefits such as reducing your risk of heart disease. They’re a good source of fiber,
              healthy fats, and plant protein. Plus, they’re great on their own.
            </p>
          </div>
        </div>
      </div>
    </li>
    <!-- -------- Raisins -------- -->
    <li class="unique-components-item">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img
              class="img-mobile"
              srcset="
                ./images/unique-components/chocolate-covered-raisins-224x171-mobile.png    224w,
                ./images/unique-components/chocolate-covered-raisins-448x342-mobile@2x.png 448w
              "
              sizes="(min-width: 320px) 320px"
              src="./images/unique-components/chocolate-covered-raisins-224x171-mobile.png"
              alt="a handful of chocolate covered raisins"
              width="224"
              height="171"
            />
            <img
              class="img-desktop"
              srcset="
                ./images/unique-components/chocolate-covered-raisins-206x160-desktop.png    206w,
                ./images/unique-components/chocolate-covered-raisins-412x320-desktop@2x.png 412w
              "
              sizes="(min-width: 1200px) 1200px"
              src="./images/unique-components/chocolate-covered-raisins-224x171-mobile.png"
              alt="a handful of chocolate covered raisins"
              width="206"
              height="160"
            />
            <p class="component-name">SEMI - SWEET CHOCOLATE</p>
          </div>
          <div class="flip-card-back">
            <h3 class="overlay-name">semi - sweet chocolate</h3>
            <ul class="overlay-tags">
              <li class="overlay-tag-container" style="background: #fd9222">
                <p class="overlay-tag" style="color: #fff">sweet chocolate</p>
              </li>
              <li class="overlay-tag-container">
                <p class="overlay-tag">the benefits</p>
              </li>
            </ul>
            <p class="overlay-paragraph">
              Semi-sweet chocolate has a cocoa solid content of 35 to 65%. One of the best ways to
              gain an understanding of this type of chocolate is to compare it to a different type
              of chocolate. Semisweet is darker than milk chocolate. In a taste comparison, it has a
              slightly bitter taste whereas milk chocolate is sweeter.
            </p>
          </div>
        </div>
      </div>
    </li>
  </ul>
</section>
