:root {
    --text-dark-color: #111111;
    --text-light-color: #FFFFFF;
    --text-orange-color: #FD9222;
    --text-dark-transparent-color: #111111B3;
    --text-light-transparent-color: #FFFFFFB3;
    --text-label-dark-transparent-color: #4040404D;
    --icon-dark-color: #111111;
    --icon-dark-transparent-color: #1111111A;
    --icon-orange-color: #FD9222;
    --background-dark-color: #1E1823;
    --background-light-color: #FAFAFA;
    --background-white-color: #FFFFFF;
    --background-orange-color: #FD9222;
    --background-button-color: #FCF1E0;
    --background-modal-light-color: #FAFAFA;
    --border-dark-transparent-color: #FFFFFF80;

    --transition-duration: 250ms;
    --transition-tf: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-page {
    background-color: var(--background-orange-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 30px;
    margin: 10px auto 20px auto;
}