.hero-section {
    background-color: var(--background-dark-color);
    padding: 395px 20px 20px;
    border-radius: 30px;
    margin: 19px 20px 71px;
}

.hero-container {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.hero-sub-headline {
    color: var(--text-light-color);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: -0.0375em;
}

.hero-modal-and-link-button {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.hero-modal-button-first-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 14px;
}

.hero-buy-now-button {
    color: var(--text-light-color);
    background-color: var(--background-orange-color);
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: block;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    padding: 12px 28px;
    margin: auto;
    transition-property: background-color, color;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-tf);
}

.hero-buy-now-button:hover,
.hero-buy-now-button:focus {
    background-color: var(--background-button-color);
    color: var(--text-orange-color);
}

.hero-how-it-is-made-button {
    color: var(--text-light-color);
    background-color: transparent;
    display: block;
    border: 1px solid var(--text-light-color);
    border-radius: 100px;
    cursor: pointer;
    padding: 12px 28px;
    margin: auto;
    transition-property: background-color, border;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-tf);
}

.hero-how-it-is-made-button:hover,
.hero-how-it-is-made-button:focus {
    background-color: var(--background-white-color);
    border: 1px solid var(--text-orange-color);
}

.hero-link-made-button {
    color: var(--text-light-color);
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    transition-property: color;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-tf);
}

.hero-link-made-button:hover,
.hero-link-made-button:focus {
    color: var(--text-orange-color);
}

.hero-scroll-button-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 12px;
    color: var(--text-light-color);
    background-color: transparent;
    fill: var(--text-orange-color);
    transition: background-color var(--transition-duration) var(--transition-tf);
}

.hero-scroll-button-box:hover .hero-scroll-down-button,
.hero-scroll-button-box:focus .hero-scroll-down-button {
    background-color: var(--background-orange-color);
    fill: var(--text-light-color)
}

.hero-link-scroll {
    color: var(--text-light-color);
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: -0.0225em;
}

.hero-scroll-down-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: var(--background-white-color);
    border: none;
    padding: 0;
    cursor: pointer;
}

.hero-button-scroll-icon {
    width: 16;
    height: 16;
    transition: fill var(--transition-duration) var(--transition-tf);
}


@media screen and (max-width: 767px) {
    .container {
        min-width: 375px;
        max-width: 400px;
        margin: 0px auto;
        padding: 0px 0px;
    }

    .background-image-section {
        background-image: url('../images/hero/chocolate-background-335x620-mobile.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        max-width: 767px;
        min-width: 375px;
    }

    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .background-image-section {
            background-image: url('../images/hero/chocolate-background-670x1240-mobile@2x.jpg');
        }
    }
}

@media screen and (min-width: 768px) {
    .container {
        width: 768px;
        margin: 0 auto;
        padding: 0 32px;
    }

    .background-image-section {
        background-image: url('../images/hero/chocolate-background-704x890-tablet.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        max-width: 1199px;
        min-width: 768px;
    }

    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .background-image-section {
            background-image: url('../images/hero/chocolate-background-1408x1780-tablet@2x.jpg');
        }
    }

    .hero-sub-headline {
        color: var(--text-light-color);
        width: 484px;
        font-size: 28px;
        font-weight: 500;
        line-height: 1.21;
        letter-spacing: -0.03em;
    }

    .hero-scroll-button-box {
        gap: 14px;
    }

    .hero-buy-now-button {
        padding: 14px 40px;
    }

    .hero-how-it-is-made-button {
        padding: 14px 40px;
    }

    .hero-link-scroll {
        font-size: 14px;
        line-height: 1.29;
        letter-spacing: -0.03em;
    }

    .hero-scroll-down-button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 38px;
        height: 38px;
    }

    .hero-button-scroll-icon {
        width: 22;
        height: 22;
        transition: fill var(--transition-duration) var(--transition-tf);
    }
}

@media screen and (max-width: 1199px) {}


@media screen and (min-width: 1200px) {
    .container {
        width: 1200px;
        margin: 0 auto;
        padding: 0 32px;
    }

    .background-image-section {
        background-image: url('../images/hero/chocolate-background-1136x600-desktop.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        max-width: 1200px;
    }

    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .background-image-section {
            background-image: url('../images/hero/chocolate-background-2272-1200-desktop@2x.jpg');
        }
    }
}