:root {
  --text-dark-color: #111111;
  --text-light-color: #ffffff;
  --text-orange-color: #fd9222;
  --text-dark-transparent-color: #111111b3;
  --text-light-transparent-color: #ffffffb3;
  --text-label-dark-transparent-color: #4040404d;
  --icon-dark-color: #111111;
  --icon-dark-transparent-color: #1111111a;
  --icon-orange-color: #fd9222;
  --background-dark-color: #1e1823;
  --background-light-color: #fafafa;
  --background-white-color: #ffffff;
  --background-orange-color: #fd9222;
  --background-button-color: #fcf1e0;
  --background-modal-light-color: #fafafa;
  --border-dark-transparent-color: #ffffff80;

  --transition-duration: 250ms;
  --transition-tf: cubic-bezier(0.4, 0, 0.2, 1);
}

/* ================== mobile first ================== */

.h-i-m-container {
  min-width: 320px;
  width: 100%;
  padding: 0px 20px;
  margin: 0px auto;
}

.h-i-m-section {
  margin-bottom: 72px;
  background-color: var(--background-light-color);
}

.h-i-m-description {
  background: var(--background-white-color);
  border-radius: 15px;
  width: 335px;
  height: 456px;
  padding: 20px 14px;
}

.h-i-m-title {
  font-weight: 600;
  font-size: 20px;
  line-height: calc(24 / 20);
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--text-dark-color);
  margin-bottom: 32px;
}

.h-i-m-title span {
  color: var(--text-orange-color);
}

iframe {
  border-width: 0px;
}

.h-i-m-video {
  width: 335px;
  height: 500px;
  border-radius: 15px;
  border-color: transparent;
  border: none;
}

.h-i-m-list {
  width: 100%;
  height: auto;
  row-gap: 18px;
  padding-left: 16px;
  flex-wrap: wrap;
}

.h-i-m-list li::before {
  content: '';
  position: absolute;
  display: inline-block;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  left: -16px;
  top: 5px;
  background: #4c4c4c;
  border: 1px solid #eceded;
}

.h-i-m-recipe-title {
  font-weight: 600;
  font-size: 18px;
  line-height: calc(24 / 18);
  color: var(--text-dark-color);
  margin-bottom: 20px;
}

.h-i-m-recipe-title br {
  display: none;
}

.h-i-m-text {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(18 / 14);
  letter-spacing: -0.02em;
  color: var(--text-dark-color);
  margin-bottom: 18px;
  position: relative;
}

@media screen and (min-width: 375px) {
  .h-i-m-container {
    width: 375px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* =================== tablet version ================== */

@media screen and (min-width: 768px) {
  .h-i-m-container {
    width: 768px;
    padding-left: 77px;
    padding-right: 77px;
  }

  .h-i-m-section {
    margin-bottom: 100px;
  }

  .h-i-m-description {
    width: 614px;
    height: 356px;
    padding: 32px;
    /*padding: 32px 102px 32px 32px;*/
  }

  .h-i-m-title {
    font-size: 24px;
    line-height: calc(28 / 24);
    text-transform: uppercase;
    margin-bottom: 50px;
  }

  .h-i-m-video {
    width: 614px;
    height: 400px;
    /*height: 400px;*/
  }

  .h-i-m-recipe-title {
    max-width: 350px;
    margin-bottom: 28px;
  }

  .h-i-m-recipe-title br {
    display: flex;
  }

  .h-i-m-text {
    width: 480px;
  }
}

/* ================== desktop version ================== */

@media screen and (min-width: 1200px) {
  .h-i-m-container {
    width: 1200px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .h-i-m-section {
    margin-bottom: 128px;
  }

  .h-i-m-description {
    width: 516px;
    height: 356px;
    padding: 32px;
    /*width: 516px;
    padding: 32px 59px 94px 32px;*/
  }

  .h-i-m-content {
    display: flex;
    gap: 20px;
  }

  .h-i-m-video {
    width: 600px;
    height: 400px;
    /*width: 600px;*/
    margin-bottom: 0px;
  }

  .h-i-m-list {
    height: auto;
  }

  .h-i-m-text {
    width: 425px;
    margin-bottom: 24px;
  }
}
