body {
  font-family: 'Montserrat', sans-serif;
  color: var(--text-dark-color);
  background-color: var(--background-light-color);
}

:root {
  --text-dark-color: #111111;
  --text-light-color: #ffffff;
  --text-orange-color: #fd9222;
  --text-dark-transparent-color: #111111b3;
  --text-light-transparent-color: #ffffffb3;
  --text-label-dark-transparent-color: #4040404d;
  --icon-dark-color: #111111;
  --icon-dark-transparent-color: #1111111a;
  --icon-orange-color: #fd9222;
  --background-dark-color: #1e1823;
  --background-light-color: #fafafa;
  --background-white-color: #ffffff;
  --background-orange-color: #fd9222;
  --background-button-color: #fcf1e0;
  --background-modal-light-color: #fafafa;

  --transition-duration: 250ms;
  --transition-tf: cubic-bezier(0.4, 0, 0.2, 1);
}

/* ============================== Comman Styles ============================== */

* {
  margin: 0px;
  padding: 0px;
}

img {
  display: block;
  max-width: 100%;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 100%;
  padding: 0px 0px;
  margin: 0px auto;
}
